In [2]:
#Q.1 creat one variable containing following type of data: string float list tuple

In [3]:
s = "pwskills"

In [4]:
type(s)

str

In [5]:
f = 39.99

In [6]:
type(f)

float

In [7]:
l = [1,2,4,"sudh",35.99]

In [8]:
type(l)

list

In [9]:
t = (1,2,4,5,"deepak",67.99)

In [10]:
type(t)

tuple

Q2. Given are some following variables containing data:

In [11]:
var1 = ''

In [12]:
type(var1)

str

In [14]:
var2 = '[ DS , ML , Python]'

In [15]:
type(var2)

str

In [16]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [17]:
type(var3)

list

In [18]:
var4 = 1

In [19]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

In [21]:
35/6 ##mean of /  returns the quotient of divding the left hand operand by right hand operand

5.833333333333333

In [23]:
48%7 # mean of %  returns the remainder of dividing the left hand operand by right hand operand

6

In [27]:
45//3 #this // operator divides the first number by the second number and rounds the result down to the nearest integer

15

In [26]:
25**2 #mean of ** returns the value of the second number to the power of the first number

625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [28]:
list = [2,4,5,'deepak',4.66,True,'data science',56+6j]

In [30]:
for i in list :
    print(i , type(i))

2 <class 'int'>
4 <class 'int'>
5 <class 'int'>
deepak <class 'str'>
4.66 <class 'float'>
True <class 'bool'>
data science <class 'str'>
(56+6j) <class 'complex'>


Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [41]:
num1 = int(input("put number 1"))
num2 = int(input("put number 2"))

while num2<=num1:
    if num1%num2==0:
        print(num1,num2)

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [44]:
li = [35,21,45,67,56,78,2,2,8,78,98,57,38,91,39,24,42,52,90,95,63,74,84,50,18]

In [45]:
len(li)

25

In [47]:
for i in li:
    if i%3 == 0 :
        print(i,'divided')
    else:
        print(i,'not divided')

35 not divided
21 divided
45 divided
67 not divided
56 not divided
78 divided
2 not divided
2 not divided
8 not divided
78 divided
98 not divided
57 divided
38 not divided
91 not divided
39 divided
24 divided
42 divided
52 not divided
90 divided
95 not divided
63 divided
74 not divided
84 divided
50 not divided
18 divided

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [48]:
f = "deepak"

In [50]:
f[3] = a

NameError: name 'a' is not defined

In [51]:
op = [1,2,3,43.5,'list',True]

In [52]:
op[4] = 90

In [53]:
op

[1, 2, 3, 43.5, 90, True]